.content {
  padding: 24;
  min-height: 1500;
  background-color: #fff;
  margin: 24;
  display: flex !important;
  justify-content: center !important;
}
.layout footer {
  background-color: #001529;
  color: #fff;
}

.ant-menu-dark.ant-menu-horizontal > .menu-item-search:hover {
  background-color: transparent !important;
}
