.content {
  padding: 24;
  min-height: 1500;
  background-color: #001529 !important;
  margin: 24;
  display: flex !important;
  justify-content: center !important;
}
.layout footer {
  background-color: #001529;
  color: #fff;
}
.layout {
  background-color: #001529 !important;
}
.ant-menu-dark.ant-menu-horizontal > .menu-item-search:hover {
  background-color: transparent !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
}
